<div class="card">
    <img src="{{book.img}}" class="bd-placeholder-img card-img-top" width="100%">

    <div class="card-body">
        <p class="card-text">{{book.name}}</p>
        <p class="card-text">{{book.category}}</p>
        <p class="card-text">{{book.quantity}}</p>
        <p class="card-text">{{book.price | currency:'BRL'}}</p>

        <div class="btn-group">
            <button class="btn btn-success">Comprar</button>
            <button class="btn btn-outline-success">Detalhes</button>
        </div>
    </div>
</div>